<div id="wrapper"  [ngClass]="ref.click === true? 'toggled' :''" >
  <div class="overlay" [ngStyle]="{disply:ref.click === true? 'block' :'none'}" ></div>
    <div class="d-flex" id="wrapper">
          <!-- Sidebar -->
         <app-sidebar></app-sidebar>
          <!-- /#sidebar-wrapper -->
          <!-- Page Content -->
          <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
             
              <button appSidebar #ref="appSidebar" type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
              </button>
              <a></a>
              <app-navbartoogle></app-navbartoogle>

              <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
               <app-collapse></app-collapse>
              </div>

            </nav>
            <div class="container-fluid">
              <div *ngIf="tarefa">
                <div *ngFor="let item of tarefa">
                <h5 class="mt-3">{{item.nome}}</h5>
    
                <form #f="ngForm" (ngSubmit)="onUpdateTarefa(f)">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Nome</label>
                          <input type="text" class="form-control"  placeholder={{item.nome}} [(ngModel)]="item.nome" name="nome" autocomplete="off">
                        </div>
              
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">local</label>
                          <input type="text" class="form-control"  placeholder={{item.local}} [(ngModel)]="item.local" name="local" autocomplete="off">
                        </div>
                      </div>
              
              
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputCity">Valor</label>
                          <input type="text" class="form-control" placeholder={{item.valor}} [(ngModel)]="item.valor" name="valor" autocomplete="off">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputState">Situação</label>
                          <select  class="form-control"  [(ngModel)]="item.situacao" name="status">
                              <option value="">Situação</option>
                              <option value="1">Pago</option>
                              <option value="0">Pendente</option>
                          </select>
                        </div>
                        <div class="form-group col-md-2">
                          <label for="inputZip">Data</label>
                          <input type="date" class="form-control" placeholder={{item.data}} [(ngModel)]="item.data" name="data" autocomplete="off">
                        </div>
                      </div>
                      <a class="btn btn-secondary" (click)="goBack()">
                        <fa-icon [icon]="faUndoAlt"></fa-icon>back</a>
                      <button type="submit" class="btn btn-primary">
                        <fa-icon [icon]="faSync"></fa-icon>Atualizar</button>
                </form>
              </div>
            </div>
            </div>
          </div>
        </div>
        </div>
      
    



  

 
