.cards{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px 2px 2px 2px;
    font-weight: 100;
}

@media (max-width: 575.98px) {
    .cards{
        display: flex;
        justify-content:center;
        align-items: center;
        margin-top: 20px;
        font-weight: 100;
    }
 }






