
<table class="table">
    <thead class="thead-dark">
        <th>Nome</th>
        <th>E-mail</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of listusers">
            <td> {{ item.nome }} </td>
            <td> {{ item.email }} </td>
            <td>
                <button class="edit">
                    <a routerLink="edit/{{ item.id }}">
                       Editar 
                    </a>
                </button>
                <button (click)="deleteUser(item.id)" class="delete">Delete</button>
            </td>
        </tr>
    </tbody>
</table>