.table{
    margin-top: 20px;
}

.delete{
    border-color: transparent;
    background-color: rgb(224, 71, 11);
    color: aliceblue;
    padding: 5px;
}

.edit{
    border-color: transparent;
    background-color: rgb(38, 71, 3);
    color: aliceblue;
    margin-right: 5px;
    padding: 5px;
}

a {
    color: aliceblue;
}

