<table class="table">
    <thead class="thead-dark">
        <th>Nome</th>
        <th>E-mail</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr>
            <td>Mardonis</td>
            <td>mardonis.bezerra@gmail.com</td>
            <td>
                <a routerLink="/edit/{1}" class="text-success">
                   editar 
                </a>
                <a class="text-danger">
                   excluir 
                </a>
            </td>
        </tr>
    </tbody>
</table>