
a{
    color: #fff;
    
}
a:hover{
    color: #fff;
}
.icon{
    margin-right: 5px;
    font-size:25px;
    color:  rgb(214, 196, 33);
    
}

.iconUser{
    margin-right: 5px;
    font-size:55px;
    color:  rgb(214, 196, 33);
}
.sidebar-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
