 .tableLista {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    margin: 3px;
    font-size: 20px;
}
a:hover{
    text-decoration: none;
}

table{
    width: 100%;

    
}
thead{
   
    background-color: rgb(214, 196, 33);
}
tbody{
    background-color:#1f2429;
}
th{
    text-align: left;
    font-size: 15px;
    padding: 10px 0px 10px 2px;
    color: rgb(7, 55, 95);
}
td{
    padding: 2px;
    text-align: left;
    color: whitesmoke;
    font-size: 12px;
    font-weight: 100;
}
